@import "style.css";

html {
  margin: 0vh;
}

body {
  background: #FFFFFF;
  position: relative;
  top: 12vh;
  left: 12vw;
  right: 30vw;
  color:#000000;
}

h2 {
position: relative;
margin: 2vh 40vw 2vh 0vw;
}


h3 {
  position: relative;
  font-weight:300;
  margin: 2vh 40vw 2vh 0vw;
}